*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #333;
    color: #fff;
    display: grid;
    place-items: center;
}
.loader{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.loader-text{
    font-size: 12pt;
    letter-spacing: 2px;
    font-weight: 600;
    margin-left: 20px;
}
.dot{
    margin-left: 3px;
    animation: blink 1.5s infinite;
}
.dot:nth-child(2){
    animation-delay: 0.3s;
}
.dot:nth-child(3){
    animation-delay: 0.6s;
}
.loading-background{
    height: 30px;
    background: #221212;
    padding: 5px;
    border-radius: 15px;
    width: 250px;
    display: flex;
    align-items: center;

    border: 1px solid rgb(112, 226, 235);
}
.loading-bar{
    position: relative;
    background: rgb(101, 101, 228);
    width: 0%;
    height: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgb(106, 106, 231), rgb(134, 224, 240));
    animation: loading 4s ease-out infinite;
    overflow: hidden;

}


@keyframes loading {
    0%{
        width: 0;
    }
    80%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}




@keyframes blink{
    0%,
    100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
